* {
     margin: 0;
     background: url('../images/footer_lodyas/footer_lodyas.png') center center fixed;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
}

h1 {
     color: white;
     font-family: 'Bungee Shade', cursive;
}

h2 {
     color: #ff5252;
     font-family: 'Josefin Sans', sans-serif;
}

.panel-title, table, form {
	color: white;
	font-family: 'Josefin Sans', sans-serif;
     font-size: 18px;
}

th[data-sort] {
     cursor: pointer;
     text-align: center;
     font-weight: bold;
}




